@page
@model Web3Lab.Pages.MenuModel
@{
    ViewData["Title"] = "Меню управления";
}

<h1>Меню управления</h1>

@if (ViewData["Message"] != null)
{
    <p>@ViewData["Message"]</p>
}
<div style="display: flex; gap: 10px;">
    <form method="get" asp-page="/ProjectPage/Projects">
        <button type="submit" style="padding: 10px 20px; background-color: lightblue;">Проекты</button>
    </form>

    <form method="get" asp-page="/EmployeePage/Employees">
        <button type="submit" style="padding: 10px 20px; background-color: lightgreen;">Сотрудники</button>
    </form>

    <form method="get" asp-page="/TaskPage/Tasks">
        <button type="submit" style="padding: 10px 20px; background-color: lightcoral;">Задачи</button>
    </form>
</div>
